*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 0;
  background: rgb(6, 1, 41);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.5rem;
  color: rgb(4, 242, 250);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.grid-container > .block {
  border: 2px solid rgb(4, 242, 250);
  width: 200px;
  height: 200px;
  display: flex;
  font-size: 8rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.fa-times {
  color: rgb(196, 47, 233);
}

.fa-o {
  color: aquamarine;
}

.grid-container > .block:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgb(4, 242, 250);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 600px;
}

label {
  color: rgb(4, 242, 250);
  font-size: 1.6rem;
}

input {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: yellow;
}

input:focus {
  outline: none;
}

#submit-player1 {
  width: 20%;
  border-radius: 20px;
  border: thin solid rgb(4, 242, 250);
  color: rgb(4, 242, 250);
  padding: 3px 0;
  background: transparent;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

#submit-player1:hover {
  cursor: pointer;
  color: yellow;
}

.mark-buttons-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mark-buttons-div > h3 {
  color: #fff;
  font-size: 1.6rem;
}

.mark-button {
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 10px 15px;
  border: 2px solid rgb(4, 242, 250);
  background: transparent;
  color: yellow;
}

.mark-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(4, 242, 250);
}

.players > h3 {
  color: rgb(4, 242, 250);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.players > h3 > span {
  color: yellow;
  font-size: 1.6rem;
}

.start-game, .new-game {
  background: transparent;
  border: 2px solid rgb(4, 242, 250);
  color: rgb(4, 242, 250);
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 10px;
}

.start-game:hover, .new-game:hover {
  cursor: pointer;
  color: yellow;
  box-shadow: 0 0 10px rgb(4, 242, 250);
}

h4 {
  font-size: 3rem;
  color: yellow;
}